main {
  display: grid;
  justify-content: center;
  grid-template-columns: 20% 20% 20%;
  grid-gap: 0px;
}

app-square {
  border: 1px gray solid;
  height: 120px;
}

.coolButton {
  display: block;
  max-width: 200px;
  appearance: none;
  border: none;
  outline: none;
  background: none;

  background-color: #00cc83;
  color: #fff;
  margin: 15px auto;

  padding: 10px 15px;
  font-size: 18px;
  font-weight: 700;

  cursor: pointer;

  &:hover {
    background-color: #04a16a;
  }
}

.text {
  text-align: center;
  color: white;
}
