<div class="div">
  <p class="textHome">¡WELCOME!</p>
  <!--<img src="assets/photo.svg" alt="" class="center" />-->
  <div class="center">
    <div class="image-wrapper">
      <img class="image-1" src="assets/photo4.svg" />
      <img class="image-2" src="assets/photo4.svg" />
      <img class="image-3" src="assets/photo4.svg" />
      <img class="image-4" src="assets/photo4.svg" />
    </div>
    <div class="divButton" style="margin-top: 25px;">
      <a routerLink="/board" class="dashboardButton">TicTacToe</a>
      <a routerLink="/todo-list" class="dashboardButton">Todo List</a>
      <a routerLink="/spacex" class="dashboardButton">SpaceX</a>
      <a routerLink="/contact" class="dashboardButton">Contacto</a>
    </div>
  </div>
</div>
