<div class="div1">
  <ly-paper
    [withClass]="classes.paper"
    bg="primary"
    [elevation]="2"
    [disableRipple]="false"
  >
    <h3 [lyTyp]="'title'">Title</h3>
    <p [lyTyp]="'body1'">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    </p>
  </ly-paper>

  <ly-paper
    [withClass]="classes.paper"
    bg="#00bcd4"
    [elevation]="2"
    [disableRipple]="false"
  >
    <h3 [lyTyp]="'title'">Title</h3>
    <p [lyTyp]="'body1'">
      If a color does not have the contrast defined in the theme, it will be
      created automatically.
    </p>
  </ly-paper>

  <ly-paper
    [withClass]="classes.paper"
    bg="warn"
    [elevation]="2"
    [disableRipple]="false"
  >
    <h3 [lyTyp]="'title'">Title</h3>
    <p [lyTyp]="'body1'">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    </p>
  </ly-paper>

  <ly-paper
    [withClass]="classes.paper"
    bg="accent"
    [elevation]="2"
    [disableRipple]="false"
  >
    <h3 [lyTyp]="'title'">Title</h3>
    <p [lyTyp]="'body1'">
      If a color does not have the contrast defined in the theme, it will be
      created automatically.
    </p>
  </ly-paper>
</div>



<div class="div2">

    <ly-paper
    [withClass]="classes.paper"
    bg="primary"
    [elevation]="2"
    [disableRipple]="false"
  >
    <h3 [lyTyp]="'title'">Title</h3>
    <p [lyTyp]="'body1'">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    </p>
  </ly-paper>

  <ly-paper
    [withClass]="classes.paper"
    bg="#00bcd4"
    [elevation]="2"
    [disableRipple]="false"
  >
    <h3 [lyTyp]="'title'">Title</h3>
    <p [lyTyp]="'body1'">
      If a color does not have the contrast defined in the theme, it will be
      created automatically.
    </p>
  </ly-paper>

  <ly-paper
    [withClass]="classes.paper"
    bg="warn"
    [elevation]="2"
    [disableRipple]="false"
  >
    <h3 [lyTyp]="'title'">Title</h3>
    <p [lyTyp]="'body1'">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    </p>
  </ly-paper>

</div>


<div class="div1">
    <ly-paper
      [withClass]="classes.paper"
      bg="accent"
      [elevation]="2"
      [disableRipple]="false"
    >
      <h3 [lyTyp]="'title'">Title</h3>
      <p [lyTyp]="'body1'">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      </p>
    </ly-paper>
  
    <ly-paper
      [withClass]="classes.paper"
      bg="#50dc14"
      [elevation]="2"
      [disableRipple]="false"
    >
      <h3 [lyTyp]="'title'">Title</h3>
      <p [lyTyp]="'body1'">
        If a color does not have the contrast defined in the theme, it will be
        created automatically.
      </p>
    </ly-paper>
  
    <ly-paper
      [withClass]="classes.paper"
      bg="warn"
      [elevation]="2"
      [disableRipple]="false"
    >
      <h3 [lyTyp]="'title'">Title</h3>
      <p [lyTyp]="'body1'">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      </p>
    </ly-paper>
  
    <ly-paper
      [withClass]="classes.paper"
      bg="#00bcd4"
      [elevation]="2"
      [disableRipple]="false"
    >
      <h3 [lyTyp]="'title'">Title</h3>
      <p [lyTyp]="'body1'">
        If a color does not have the contrast defined in the theme, it will be
        created automatically.
      </p>
    </ly-paper>
    <ly-paper
      [withClass]="classes.paper"
      bg="#a066d4"
      [elevation]="2"
      [disableRipple]="false"
    >
      <h3 [lyTyp]="'title'">Title</h3>
      <p [lyTyp]="'body1'">
        If a color does not have the contrast defined in the theme, it will be
        created automatically.
      </p>
    </ly-paper>

  </div>
