html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.textHome {
  text-align: center;
  color: white;
  font-size: 50px;
}

.divButton {
  padding: 10px 24px; /* Some padding */
  margin: auto;
  width: 50%;
  text-align: center;
}

.averageButton {
  text-decoration: none;
  margin: 10px;
  display: inline-block;
  max-width: 200px;
  appearance: none;
  border: none;
  outline: none;
  background: none;

  background-color: #0f6fec;
  color: #fff;

  padding: 10px 15px;
  font-size: 18px;
  font-weight: 700;

  cursor: pointer;

  border-radius: 10%;
}

.averageButton:hover {
  background-color: #1662c7;
}

.averageButton:disabled {
  background-color: #6f7680;
  cursor: default;
}

.dashboardButton {
  text-decoration: none;
  margin: 10px;
  display: inline-block;
  max-width: 200px;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  background-color: #0f256e;
  color: #fff;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5%;
  border: 2px solid white;
}

.dashboardButton:hover {
  background-color: #1662c7;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 25px;
}

.div{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}
